<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kylin.kvidermodule">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application>

        <activity android:name=".RecordingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:taskAffinity="com.kylin.video"
            />

    </application>

</manifest>